
.box-shadow{
    box-shadow: -3px 6px 6px rgba(0,0,0,0.6)
}


/* .backgroundColor{
    background: rgb(20,111,70);
    background: linear-gradient(90deg, rgb(10, 70, 43) 0%, rgba(34,56,148,1) 100%);
} */